<div class="menu-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      &#127869 Current Menu
    </h2>
  </div>
  {{#each dishes as |dish|}}
  <div class="dish col-md-4">
    <p>
      {{dish.id}}.
      {{dish.dish_name}}
    </p>
  </div>
  <div class="col-md-5">
    <p>
      Guest:
      {{dish.guest_name}}
    </p>
  </div>
  <div class="col-md-3">
    🥜: {{#if dish.has_nuts}} Contains nuts {{else}} No nuts {{/if}}

    {{#unless dish.has_nuts}} ... REALLY NO NUTS. {{/unless}}
  </div>
  {{/each}}

  {{> dishform}}
</div>

<script src="/js/add-dish.js"></script>