<div class="dish-card">
  <div class="dish-card-header">
    <!-- Below we are rendering the name of one dish using a Handlebars.js expression -->
    {{dish_name}}
    <br><br>
    <hr>
    <section style="font-size:14px; text-align:center">
      {{description}}
    </section>

  </div>
</div>